.startup {
    padding: 70px 0 80px 0;
}

.houden {
    margin-top: 90px;
}

.startup_manu {
    padding: 50px;
}

.startup_manu .main_h2 {
    padding: 30px 0 25px 0;
    text-align: start;
}

.startup_manu .main_p {
    text-align: start;
}