.Footer {
    padding-top: 100px;
}

.f-boxs .main_h2 {
    text-align: start;
}

form label {
    display: block;
}

.f-form {
    display: flex;
}

.f-form>div {
    width: 50%;
}

.taxtarea {
    width: 100%;
}

.taxtarea textarea {
    width: 100%;
    box-sizing: border-box;
}

.f-boxs .main_btn {
    text-align: start;
    margin-top: 40px;
}

.f-boxs .main_btn a {
    background: #96B37D;
    box-shadow: 0px 4px 20px 0px #362D2D40;
}

.f-boxs label {
    font-family: Gothic A1;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}

.f-boxs input,
.f-boxs textarea {
    background: #F6F6F6;
    border: 2px solid #96B37D;
    border-radius: 4px;
    margin-bottom: 10px;
}

.error {
    margin-bottom: 10px;
    display: block;
    color: red;
}
.f-boxs .main_p {
    text-align: start;
    padding: 17px 27px 0 0;
}

.boxs_dot {
    margin-top: 31px;
} 

.footer-last {
    background: #96B37D;
    margin-top: 100px;
    padding: 16px;
}
.footer-last .main_p{
   margin: 0;
   color: #FFFFFF;
}