.navbar-main {
    border-bottom: 1px solid #FFFFFF33;
    background: #436041;
}

.atags {
    display: flex;
    column-gap: 66px;
    margin-right: 66px;
}

.atags a {
    font-family: Gothic A1;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #FFFFFF;
}

.navbar-main .container {
    max-width: 1560px;
}

.navbar-main ul {
    display: flex;
    justify-content: space-between;
}

.navbar-main ul li {
    list-style: none;
    padding-left: 68px;
}

.navbar-main ul li a {
    text-decoration: none;
    position: relative;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    align-items: baseline;
}



.navbar-main li a::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 30.5px;
    background-color: #FFFFFF;
    top: calc(100% + 17px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px 2px 0 0px;
    display: none;
}

.navbar-main li a:hover::before ,
.navbar-main li:active a::before {
    display: block;
}



