.circulairs {
    padding-top: 72px;
    position: relative;
}
.popcorn {
    padding-top: 62px;
}
.popcorn .main_p {
    text-align: start;
}
.popcorn img{
    padding-right: 12px;
}
.station2_manu .h2_main {
    text-align: start;
}

.ref2 {
    padding-top: 100PX;
}

.circulairs::before {
    content: '';
    background: url('../../Assets/popcorn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 205px;
    height: 227px;
    position: absolute;
    top: 50px;
    left: 0;
}
.circulairs::after {
    content: '';
    background: url('../../Assets/over_line.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 214px;
    height: 96px;
    position: absolute;
    top: 27%;
    right: 0;
}