.circulairs {
    padding-top: 72px;
}
.popcorn {
    padding-top: 62px;
}
.popcorn .main_p {
    text-align: start;
}
.popcorn img{
    padding-right: 12px;
}
.station2_manu .h2_main {
    text-align: start;
}

.ref2 {
    padding-top: 100PX;
}