.bennar_img {
  position: relative;
  text-align: center;
}

.bennar_img::before {
  content: '';
  background: url('../../Assets/popcorn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  Width: 252px;
  Height: 280px;
  z-index: -1;
  position: absolute;
  top: 40px;
  left: -78px;
}

.banner {
  position: relative;
}

.banner::before {
  content: '';
  background: url('../../Assets/over_line.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  Width: 214px;
  Height: 96px;
  z-index: -1;
  position: absolute;
  top: 35%;
  right: 0px;
}

.bennar_boxs {
  display: flex;
  align-items: center;
  padding: 33px;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 40px 0px #0000001A;
}

.bennar_boxs img {}

.bennar_boxs .main_h5 {
  text-align: start;
}

.bennar_boxs .main_p {
  text-align: start;
}

.box_manu {
  padding-left: 15px;
}