/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
} */


.main-button {
  padding: 18px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.main-button a {
  font-family: Gothic A1;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: unset;
}

.main_btn {
  text-align: center;
}

.main_btn a {
  font-family: Gothic A1;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: unset;
  padding: 18px 40px;
  border-radius: 4px;
}
.main_btn button {
  font-family: Gothic A1;
  border: none;
  background: #96B37D;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: unset;
  padding: 18px 40px;
  border-radius: 4px;
}

.main_h1 {
  font-family: Oswald;
  font-size: 54px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;

}

.main_h2 {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  color: #436041;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.main_h2::before {
  content: '';
  background: url('./Components/Assets/h2_round.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32.61px;
  height: 32.61px;
  position: absolute;
  bottom: 0;
  right: -15px;
}

.h2_main {
  text-align: center;
}

.main_p {
  font-family: Gothic A1;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}

.main_h5 {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;

}

.main_h3 {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;

}

.main_h4 {
  font-family: Oswald;
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;

}

body {
  background: #f3f7f1 !important;
}

.leaflet-cintainer {
  /* width: 500px;
  height: 500px; */
  position: relative;
  z-index: 99;
}




.box_hover:hover::before,
.box_hover:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: 196px;
    height: 277px; */
    background: #fda8cf;
    border-radius: 20px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.box_hover:hover:after {
    background: #f3ce5e;
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }

    12% {
        top: -2px;
        left: 2px;
    }

    25% {
        top: 0;
        left: 5px;
    }

    37% {
        top: 2px;
        left: 2px;
    }

    50% {
        top: 5px;
        left: 0;
    }

    62% {
        top: 2px;
        left: -2px;
    }

    75% {
        top: 0;
        left: -5px;
    }

    87% {
        top: -2px;
        left: -2px;
    }

    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }

    12% {
        top: -2px;
        right: 2px;
    }

    25% {
        top: 0;
        right: 5px;
    }

    37% {
        top: 2px;
        right: 2px;
    }

    50% {
        top: 5px;
        right: 0;
    }

    62% {
        top: 2px;
        right: -2px;
    }

    75% {
        top: 0;
        right: -5px;
    }

    87% {
        top: -2px;
        right: -2px;
    }

    100% {
        top: -5px;
        right: 0;
    }
}