.onze {
    background: url('../Assets/onze.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 0;
    position: relative;
}

.onze::before {
    content: '';
    background: url('../Assets/onze_linsRound.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 200px;
    right: 0;
    width: 199px;
    height: 199px;
}
.onze::after {
    content: '';
    background: url('../Assets/onze_round.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 120px;
    right: 25px;
    width: 132px;
    height: 159px;
}

.onze_boxs {
    margin-top: 60px;
}

.onze_boxs .main_p {
    text-align: left;
    padding-top: 30px;
}

.onze_boxs .main_btn {
    text-align: left;
    margin-top: 40px;
}

.onze_boxs .main_btn a {
    background: #96B37D;
    box-shadow: 0px 4px 20px 0px #362D2D40;
}

.onze_num {
    display: flex;
}

.onze_num span {
    font-family: Oswald;
    font-size: 50px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #436041;
    padding: 30px 20px 0 0;
}

.onze_box {
    padding: 25px;
}

.onze_right {
    padding-top: 100px;
}

.onze_2 {
    display: flex;
   
}