.hero_ref {
    background-image: url('../../Assets/over_header.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 328px;
}

.hero_ref .main_h1 {
    padding-top: 90px;
}